In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('ad_campaign_performance.csv')

In [3]:
df.head()

,Campaign_ID,Budget,Duration,Platform,Content_Type,Target_Age,Target_Gender,Region,Clicks,Conversions,CTR,CPC,Conversion_Rate,Success
0,CAMP-XAJI0Y,15895,39,Instagram,Video,35-44,Female,US,48297,2116,303.850267,0.329109,4.381225,1
1,CAMP-6DPBHS,960,8,LinkedIn,Video,45-54,Female,UK,15097,2340,1572.604167,0.063589,15.499768,1
2,CAMP-AHXTHV,38258,54,YouTube,Image,35-44,All,US,8134,2740,21.260913,4.703467,33.685763,1
3,CAMP-3A3ZMF,44832,28,Facebook,Text,25-34,Female,US,21801,4277,48.628212,2.056419,19.618366,1
4,CAMP-8MDD4V,11384,36,Google,Story,18-24,All,UK,16503,1488,144.966620,0.689814,9.016542,1

# Data preparation

In [8]:
df.shape

(1000, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Campaign_ID      1000 non-null   object
 1   Budget           1000 non-null   int64
 2   Duration         1000 non-null   int64
 3   Platform         1000 non-null   object
 4   Content_Type     1000 non-null   object
 5   Target_Age       1000 non-null   object
 6   Target_Gender    1000 non-null   object
 7   Region           1000 non-null   object
 8   Clicks           1000 non-null   int64
 9   Conversions      1000 non-null   int64
 10  CTR              1000 non-null   float64
 11  CPC              1000 non-null   float64
 12  Conversion_Rate  1000 non-null   float64
 13  Success          1000 non-null   int64
dtypes: float64(3), int64(5), object(6)
memory usage: 109.5+ KB

In [5]:
df.isnull().sum()

Campaign_ID        0
Budget             0
Duration           0
Platform           0
Content_Type       0
Target_Age         0
Target_Gender      0
Region             0
Clicks             0
Conversions        0
CTR                0
CPC                0
Conversion_Rate    0
Success            0
dtype: int64

In [6]:
df.describe()

,Budget,Duration,Clicks,Conversions,CTR,CPC,Conversion_Rate,Success
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,24592.139000,31.692000,25130.92700,2480.360000,388.988301,2.968978,26.856985,0.897000
std,14632.696566,16.542999,14205.44793,1449.470849,1544.579703,15.660721,88.893199,0.304111
min,109.000000,3.000000,98.00000,13.000000,0.232358,0.003153,0.036164,0.000000
25%,11480.000000,17.000000,13225.25000,1222.750000,52.635433,0.468196,4.889723,1.000000
50%,23965.000000,32.000000,25013.50000,2407.000000,102.213286,0.978351,9.847713,1.000000
75%,37953.750000,46.000000,37386.50000,3771.250000,213.586455,1.899861,18.757727,1.000000
max,49950.000000,60.000000,49820.00000,4995.000000,31711.612903,430.370690,1554.121864,1.000000

# Exploratory data analysis